.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row {
    flex: 1;
    /* Equal width for both rows */
    display: flex;
}

.column {
    flex: 1;
    /* Equal width for all columns */
    padding: 10px;

}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 65px auto;
}

/* About us page */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.hero {
    background-color: transparent;
    overflow: hidden;
}

.heading h1 {
    color: #264653;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.container-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 20px;

    color: #14213d;
}

.hero-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #fca311;
}

.hero-content button {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-content button:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}

.hero-image {
    flex: 1;
    width: 600px;
    height: 450px;
    margin: auto;
    animation: fadeInRight 2s ease;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .hero {
        margin: 0px;
    }

    .container-aboutus {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .hero-content {
        width: 100%;
        margin: 35px 0px;
    }

    .hero-content h2 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .hero-content button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .hero-image {
        width: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Cards css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



section {
    position: relative;
}

section::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%)
}

.container-card {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container-card a {
    text-decoration: none;
}

.container-card .card {
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #E2D1F9;
    border: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    margin: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container-card .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
}

.container-card .card:hover .content {
    opacity: 0.7;
}

.container-card .card .content .img8x {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container-card .card .content .img8x img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-card .card .content .content8x h3 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}

.container-card .card .content .content8x h3 span {
    font-size: 13px;
    font-weight: 300;
    text-transform: initial;
}



/* Search Bar css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBox {
    position: relative;
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}



.searchBox input {
    position: relative;
    width: 100%;
    height: 90%;
    border: none;
    padding: 10px 25px;
    outline: none;
    font-size: 1.1em;
    color: #555;
    background: linear-gradient(rgb(201, 147, 147), beige);
    box-shadow: 5px 5px 5px rgaba(0, 0, 0, 0.1),
        15px 15px 15px rgaba(0, 0, 0, 0.1),
        20px 20px 20px rgaba(0, 0, 0, 0.1),
        30px 30px 30px rgaba(0, 0, 0, 0.1),
        inset 1px 1px 2px #fff;
    border-radius: 20px;
}

.searchBox input::placeholder {
    color: #555;
}

.searchBox input {
    color: #000000;
}

.searchBox:hover input::placeholder {
    color: #707070;
}

.srchbtn {
    height: 90%;
    font-size: 1.3em;
    cursor: pointer;
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
}

/* custom.css */
.container-class {
    width: 100%;
    /* Change the width */
    padding: 20px;
    /* Change the padding */
    margin: 0 auto;
    /* Center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}




.character{
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column-reverse;


}

.top{
    display: flex;
    flex-direction: row;
}

